{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/profile-style.css">
{% endblock %}

{% block body %}
    <section class="filtrage">
    <p class="p-filre">Filtrage</p>
        <input type="text" placeholder="Recherche par secteur d'activite">
        <input type="text" placeholder="Recherche par region">
        <input type="text" placeholder="Recherche par entreprise">
    </section>
    <article class="content">
        {% for article in articles %}
            <div>
                <img src="#" alt="icon d'entreprise">
                <h3>{{article.getTitre}}</h3>
                <p class="date"> admin | <a href="#">nom d'entreprise</a>|{{article.getDateAjout|date('Y-m-d')}}</p>
                <p>description</p>
            </div>
        {% endfor %}
        {# <div>
            <img src="#" alt="icon d'entreprise">
            <h3>Titre d'emploi</h3>
            <p class="date">date | <a href="#">nom d'entreprise</a></p>
            <p>description</p>
        </div> #}
        <div></div>
        <div></div>
        </article>
{% endblock %}
